{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<span class="glyphicon glyphicon-home" aria-hidden="true" style="color:blue"></span>
<span class="glyphicon glyphicon-search"></span>
<span class="glyphicon glyphicon-user babalu"></span>
<span class="glyphicon glyphicon-trash"></span>
{% endblock %}

{% block comment %}
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="block-2 red">
                    <span class="wrap-icon">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-home"></span>
                        </button>
                        <i class="glyphicon glyphicon-home"></i>
                        <i class="fab fa-adobe"></i>
                    </span>
                    <h2>Indoor Games</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima nesciunt, mollitia, hic enim id culpa.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="block-2 yellow">
                    <span class="wrap-icon">
                        <span class="icon-person"></span>
                    </span>
                    <h2>Outdoor Game And Event</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima nesciunt, mollitia, hic enim id culpa.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="block-2 teal">
                    <span class="wrap-icon">
                    <span class="icon-cog"></span>
                    </span>
                    <h2>Camping for Kids</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima nesciunt, mollitia, hic enim id culpa.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}